<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Edita un producto"}) %>
    <body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h1>Formulario de edicion del producto: producto.name</h1>
            <form action="/products/porducto.id?_method=PUT" method="POST">
                <div>
                    <label for="title">Titulo del producto:</label>
                    <input type="text" id="title" name="title" placeholder="Eg. GTX 3090"> 
                </div>
                <div>
                    <label for="description">Descripcion:</label>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="nice gpu"></textarea>
                </div>
                <div>
                    <label for="category">Categoria:</label>
                    <select name="category" id="category">
                        <option value="NaN" selected disabled>--Selecciona--</option>
                        <option value="0">CPU</option>
                        <option value="1">GPU</option>
                        <option value="2">Aqui va un for</option>
                    </select>
                </div>
                <div>
                    <label for="brand">Selecciona la marca:</label>
                    <select name="brand" id="brand">
                        <option value="NaN" selected disabled>--Selecciona--</option>
                        <option value="0">AMD</option>
                        <option value="1">NVIDIA</option>
                    </select>
                </div>
                <div>
                    <label for="price">Precio:</label>
                    <input type="number" id="price" name="price" min="0" placeholder="1800.5" step="any">
                </div>
                <div>
                    <label for="image">Imagen del producto:</label>
                    <input type="file" name="image" id="image" accept=".jpg, .png, .jpeg, .bmp, .tiff, .tif|image/*">
                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>