// -------------------------
// Media Queries MIXINS
// -------------------------

// Phone Mix
@mixin phone{
    @media (min-width: $phone) {
        @content;
    }
}

// Tablet Mix
@mixin tablet{
    @media (min-width: $tablet) {
        @content;
    }
}
// Desktop Mix
@mixin desktop{
    @media (min-width: $desktop) {
        @content;
    }
}

// -------------------------
// Display MIXINS
// -------------------------

// Grid Function Mixin
@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}