.product{
    width: 90%;
    background-color: $prin;
    margin: 10px auto;
    transition: box-shadow 0.3s;

    align-content: center;
    place-items: center;
    justify-items: center;
    align-items: center;
    margin: 20px;
    border-radius: 0.8rem;
}
.product:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}
.productImage{
    padding: 1.5rem 1rem;
    width: 90%;
    height: auto;
    margin: auto;
}
.productInfo{
    border-top: 1px solid #ebebeb;
    height: auto;
    padding: 15px;
    position: relative;
    z-index: 1;
    font-weight: $bold;

}

@include phone{
    .product{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 45%;
    }
}

@include tablet{
    .products article{
        width: 20%;
    }
}

.video{
    position: relative;
    max-height: 40rem;
    overflow: hidden;

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+0,9e37f2+62,ffffff+100&0.8+0,0.5+100 */
        background: -moz-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%, rgba(158,55,242,0.61) 62%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.61) 62%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.61) 62%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc891c1e', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    img{
        display: block;
        width: 100%;
    }
}

.contenido-video{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;

    h2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $white;
        font-size: 7rem;

        span{
            background-color: $aux;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}

.prodBox {

    display: inline-block;
    width: 240px;
    text-align: center;

    .img-container {
        height: 230px;
        width: 200px;
        overflow: hidden;
        border-radius: 0px 0px 20px 20px;
        display: inline-block;

        img {
            transform: skew(0deg, -13deg);
            height: 250px;
            margin: -35px 0px 0px -70px;
            margin-left: auto;
        }
    }

    .inner-skew {
        display: inline-block;
        border-radius: 20px;
        overflow: hidden;
        padding: 0px;
        transform: skew(0deg, 13deg);
        font-size: 0px;
        margin: 30px 0px 0px 0px;
        background: #c8c2c2;
        height: 250px;
        width: 200px;
        border: 0.1rem solid $secon;
    }

    .text-container {
        // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        transition: box-shadow 0.3s;
        padding: 120px 20px 20px 20px;
        // border-radius: 20px;
        border-radius: 0.8rem;  
        background: $prin;
        margin: -120px 0px 0px 0px;
        line-height: 19px;
        font-size: 14px;

        &:hover{
            box-shadow: 0px 0px 10px rgb(100,100,100);
        }

        h3 {
            margin: 20px 0px 10px 0px;
            color: $secon;
            font-size: 18px;
            }
    }
}

.sect-p{
    padding: 1rem 2rem 5rem 2rem;
}

.sect-content{
    display: flex;
    // gap: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: $separation;
    align-items: center;
}

@include phone{
    .text-container{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}