<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>REGÍSTRATE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">  
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo.png" alt="LOGO DEPORTSHOPIA">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar un producto en la tienda</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            
        <nav class='barraNavegacion'>
            <ul>
                <li><a href="#">NEW</a></li>
                <li><a href="#">HOMBRE</a></li>
                <li><a href="#">MUJER</a></li>
                <li><a href="#">INFANTIL</a></li>
                <li><a href="#">SALE</a></li>
            </ul>
            <ul>
                <li><a href="/register">CREA UNA CUENTA <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">INGRESAR <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/cart">MI CARRITO<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header>

    <div>
        <h2>MI CARRITO</h2>

        <h3> MIS PRODUCTOS DE COMPRA</h3>
    </div>

    <div class = 'general'> 
        
        <div class="producto"> 
            <div class = 'imagenProducto'> 
                <img src="images/tenis.jpeg" alt="TENNIS NIKE" width="300px">
            </div>
            <div class= 'descripcion'> 
                <h4> Tennis Nike 24 1/2</h4> 
                <h4> $1499.00</h4> 
                <h4>  </h4> 
                <h4><a href="/cart">Eliminar del carrito </a></h4> 
            </div>
        
        </div>

        <div class="producto"> 
            <div class = 'imagenProducto'> 
                <img src="images/sudadera.jpeg" alt="SUDADERA NIKE" width="300px">
            </div>
            <div class= 'descripcion'> 
                <h4> Sudadera NIKE M</h4> 
                <h4> $2499.00</h4> 
                <h4>  </h4> 
                <h4><a href="/cart">Eliminar del carrito </a></h4> 
            </div>
        
        </div>

        <div class="producto"> 
            <div class = 'imagenProducto'> 
                <img src="images/playera.jpeg" alt="PLAYERA NIKE" width="300px">
            </div>
            <div class= 'descripcion'> 
                <h4> Playera NIKE CH</h4> 
                <h4> $1200.00</h4> 
                <h4>  </h4> 
                <h4><a href="/cart">Eliminar del carrito </a></h4> 
            </div>
        
        </div>
        
        <div class="producto"> 
            <div class = 'imagenProducto'> 
                <img src="images/bolsa.jpeg" alt="BOLSA NIKE" width="300px">
            </div>
            <div class= 'descripcion'> 
                <h4> BOLSA NIKE UNITALLA</h4> 
                <h4> $1700.00</h4> 
                <h4>  </h4> 
                <h4><a href="/cart">Eliminar del carrito </a></h4> 
            </div>
        
        </div>
        
        <div class = "Pago">
            <h4> TOTAL </h4>
            <h5> $4890.00 </h5>
            <div class='boton'>
                <label name="boton" ></label>
                <button type="submit" name="boton" >CONTINUAR A FORMA DE PAGO
            </div>

        </div>


    </div>
</body>
</html>