<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main class="contenedor">
        <h1>Nosotros</h1>
        <div class="grid">
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/playera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Playera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/sudadera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">sudadera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/tenis.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">tenis</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/bolsa.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Bolsa</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/playera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Playera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/sudadera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">sudadera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/tenis.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">tenis</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/bolsa.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Bolsa</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/playera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Playera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/sudadera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">sudadera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/tenis.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">tenis</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/bolsa.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Bolsa</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/playera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">Playera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="producto">
                <a href="producto.html">
                    <img class="producto__imagen" src="images/sudadera.jpeg" alt="imagen camisa">
                    <div class="producto_informacion">
                        <p class="producto__nombre">sudadera</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div> <!-- .producto -->
            <div class="grafico grafico--camisas"></div>
            <div class="grafico grafico--node"></div>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>