<!-- Footer -->
<footer>
    <div class="newsblock">
        <div class="newsblock__content">
            <h3 class="newsblock__content__title">Newsletter</h3>
            <p class="newsblock__content__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quas minima facere explicabo corporis amet officia.</p>
            <button class="newsblock__content__btn">Suscribirme</button>
        </div>

    </div>
    <div class="linksblock">
        <div class="linksblock__links">
            <div class="linksblock__links__company">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                </ul>
            </div>
            <div class="linksblock__links__contact">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                </ul>
            </div>
            <div class="linksblock__links__about">
                <h4>Nosotros</h4>
                <ul>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                    <li><a href="#">Enlace</a></li>
                </ul>
            </div>
        </div>
        <div class="linksblock__icons">
            <div class="linksblock__icons__social">
                <button class="linksblock__icons__social__btn"></button>
                <button class="linksblock__icons__social__btn"></button>
                <button class="linksblock__icons__social__btn"></button>
                <button class="linksblock__icons__social__btn"></button>
                <button class="linksblock__icons__social__btn"></button>
            </div>
            <div class="linksblock__icons__cert">
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
                <div class="linksblock__icons__cert__logo">LOGO</div>
            </div>

        </div>

    </div>
    <div class="footnoteblock">
        <p>Horarios de atencion XX:XX</p>
        <p>Todos los derechos reservados 2022</p>
    </div>
</footer>