//-----------------------
// COLORS
//-----------------------

// Main
$prin: rgba(31, 5, 104, 0.733);
$secon:#b11b23;
$white:#fff;
$black:#000;
$gray: rgb(209, 209, 209);

// Aux
$aux: rgb(17, 226, 17);

//-----------------------
// FONTS
//-----------------------

// Main Font Family
$prin-fnt: 'Staatliches', cursive;

// Main Font Sizes
$delgada : 300;
$regular : 400;
$bold : 700;
$black :900;

//-----------------------
// MEDIA QUERIES
//-----------------------

// Main Sizes
$phone: 480px;
$tablet: 720px;
$desktop: 1200px;

//-----------------------
// METRICS
//-----------------------

// Main distances
$separation: 5rem;