.header{
    background-color: $prin;
    
    .header__contents{
        height: 2.2 * $separation;
        padding:  1rem 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 
            "logo searchBar buttons"
            "logo prinNav secNav";
        column-gap: $separation / 2;
    }
    
    h1 {
        color: $white; 
        text-align: center;
    }

    .nav{
        display: flex;
        gap: $separation / 2;
        justify-content: center;
        align-items: center;

        a{
            color: $white;
            &:hover{
                color: $secon;
            }
        }
        
        .link--special{
            color: $secon;

        }
    }
    .form{
        input,
        button {
            height: $separation / 2 + 1;
            font-family: $prin-fnt;
            border: 0;
            color: $black;
            font-size: 1.7rem;
        }
    
        input[type="search"]{
            outline: 0; //remove it
            width:100%;
            color: hsl(0,0,20);
            background: $white;
            border-radius: $brad;
            border: 1px solid hsla(0, 0, 0, 0.3);
            font-size: 14px;
            appearance: none;
            transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
            transition-property: width, border-radius;
            z-index: 1;
            position: relative;
        }
    
        button{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 8rem;
            font-weight: $bold;
            background: $aux;
            border-radius: 0 $brad $brad 0;
        }
    
        input:not(:placeholder-shown){
            border-radius: $brad 0 0 $brad;
            width: calc(100% - 8rem);
            + button {
                display: block;
            }
        }
    
        label{
            position: absolute;
            clip: rect(1px,1px,1px,1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
    }
    &.fijo{
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 .3rem .4rem;
        z-index: 3;
    }
}

.logo{
    grid-area: logo;
    margin: auto 0;
}

.nav--principal{
    grid-area: prinNav;
}

.sIsC{
    grid-area: buttons;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    .icon{
        svg{
            height: 4rem;
        }
    }
    
    p {
        margin: 0;
        font-size: 1.2rem;
    }

    .signIn a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopCart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.searchBar{
    grid-area: searchBar;
    position: relative;
    margin: auto 0;
}

.nav--secondary{
    grid-area: secNav;
}