*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}


.top-header{
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div .barraNavegacion {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
    border: solid 3px white;
    color:black;
    margin: 10px;

}


header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.usuario{
    display:flex;
    padding: 12px;
    box-sizing: border-box;
    margin:10px;
    justify-content: center;
}

.contrasena{
    display:flex;
    padding: 12px;
    box-sizing: border-box;
    margin:10px;
    justify-content: center;
}

.boton{
    display:flex;
    padding: 12px;
    box-sizing: border-box;
    margin:10px;
    justify-content: center;
}

ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.producto, .pago{
    width: 50%;
}

.producto {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.general{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.descripcion{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
