.container{
    max-width: 120rem;
    height: auto;
    margin: 0 auto;
}


// First Section

.bg{
    background-image: url(../images/min/stills/background-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 45rem;
}
.carousel{
    background-color: rgb(0 0 0 / 65%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel__images{} 
.carousel__indicators{}
.leftarrow{}
.rightarrow{}

// Second section 
.fastnews{
    margin: 1rem 0;
    background-color: $prin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fastnews p{
    font: $prin-fnt;
}


// Third section 
.discounts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discount{
    width: 22rem;
    height: auto;
    background-color: rgba(230, 99, 99, 0.322);
    border: .1rem solid red;
    border-radius: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discount__logo{}
.discount__text{}

// Fourth section 
.banners{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: .5rem;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    border: .1rem solid blue;
    border-radius: .5rem;
}
.banner__icon{
    grid-row: 1/3;
    text-align: center;
    margin: auto 0;
}
.banner__title{}
.banner__texto{
    grid-column: 2/3;
}

// Fifth section 
.catCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.catCard{
    border: .1rem solid $black;
    display: grid;
    grid-template-columns: repeat(2,12rem);
    grid-template-rows: repeat(6,6rem);
    gap: .5rem;
}
.catCard__image{
    grid-column: 1/3;
    grid-row: 1/4;
}
.catCard__title{
    grid-column: 1/3;
    grid-row: 4/5;
}
.catCard__sections{
    grid-column: 1/2;
    grid-row: 5/7;
}
.catCard__sections__link{}
.catCard__expand{
    grid-column: 2/3;
    grid-row: 5/6;
}

// Sixth section
.prodsReel{}
.prodsReel__title{}
.prodsReel__carousel{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.product{
    background-color: $prin;
    padding: 1rem;
}
.product__im{}
.product__info{}
.product__name{
    font-size: 4rem;
}
.product__price{
    font-size: 2.8rem;
    color: $secon;
}
.product__name,.product__price{
    font-family: $prin-fnt;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}