<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <main class="loginForm">
        <div>
            <h2>Búsqueda</h2>
            
            <br>
        
            <label>Tu carrito está vacío</label>
        </div>


    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>