<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Listado de usuarios"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h1>Listados de los usuarios</h1>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>