<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "LaniakShop"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <div class="stillBanner">
                <img src="/images/stills/setup_still.jpg" alt="home banner">
            </div>
            <div class="productSection">
                <div class="sectionTitle">
                    <h2>Productos mas vendidos!</h2>
                </div>
                <section class="products">

                    <article class="product">
                        <div class="productImage">
                            <img src="/images/products/img-cafetera-moulinex.jpg" alt="prod image">
                        </div>
                        <div class="productInfo">
                            <div class="truckButton">
                                <div class="truckIcon">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </div>
                            <div class="precio">
                                <p>$6.770</p>
                            </div>
                            <div class="descuento">
                                <p>40% OFF</p>
                            </div>
                            <div class="descripcion">
                                <p>Cafetera Moulinex</p>
                            </div>
                        </div>
                    </article>
                    
                </section>
            </div>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>