<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "LaniakShop"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <aside class="aside">
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="/products/create">CrearProduct</a></li>
                <li><a href="/users">Lista de usuraios</a></li>
                <li><a href="#">Oficina</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Apple</a></li>
            </ul>
        </aside>
        <main>
            <div class="container multi__banner">
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>1ª CAMISETA CRUZ AZUL ROYAL M/C</h4>
                </div>
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>CAMISETA MANGA CORTA CRUZ AZUL CELESTE</h4>
                </div>
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>SUDADERA CON CAPUCHA CRUZ AZUL ROYAL</h4>
                </div>    
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>MASCARILLA HIGIENICA CRUZ AZUL</h4>
                </div>
            </div>
    
            <div class="container">
                <div class="banners">
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/still_default.jpg" alt="still"></div>
                    </div> <!--.banner-->
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/still_default.jpg" alt="still"></div>
                    </div> <!--.banner-->
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/still_default.jpg" alt="still"></div>
                    </div> <!--.banner-->
                </div>
            </div>
    
            <div class="container multi__banner">
                <div>
                    <img class="img__duo" src="/images/still_default.jpg" alt="still">
                </div>
                <div>
                    <img class="img__duo" src="/images/still_default.jpg" alt="still">
                </div>
            </div>
    
            <div class="container">
                <div class="banners">
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/prod_default.jpg" alt="product"></div>
                    </div> <!--.banner-->
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/prod_default.jpg" alt="product"></div>
                    </div> <!--.banner-->
                    <div class="banner">
                        <div class="banner__icon"><img src="/images/prod_default.jpg" alt="product"></div>
                    </div> <!--.banner-->
                </div>
            </div>
    
            <div class="container multi__banner">
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>JERSEY VISITANTE NECAXA 2020-2021</h4>           
                </div>
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>Jersey Local Leon FC temporada 2020-2021</h4>
                </div>
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>JERSEY DE GALA MAZATLAN FC 2020-2021</h4>
                </div>
                <div>
                    <img class="img__individual" src="/images/prod_default.jpg" alt="product">
                    <h4>JERSEY DE GALA ATLETICO SAN LUIS 2020-2021</h4>
                </div>
            </div>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>