.newsblock{
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 16rem;
    text-align: center;
    margin-top: 2rem;
}
.newsblock__content{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.newsblock__content__btn{
    width: 15rem;
    height: 5rem;
    color: $prin;
    border: .1rem solid $prin;
}

.linksblock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
}
.linksblock__links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding-left: 16rem;
    align-self: center;
    justify-items: center;
}
.linksblock__icons{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 7rem 16rem;
    gap: 2rem;
    align-items: center;
    padding: 2rem 16rem 3rem 0;
}
.linksblock__icons__social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.linksblock__icons__social__btn{
    background-color: $gray;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1rem 0 1rem;
}
.linksblock__icons__cert{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.linksblock__icons__cert__logo{
    background-color: $gray;
    width: 10rem;
    height: 5rem;
}
.item7{
    grid-column: 1/3;
}
.item8{
    grid-column: 3/5;
}
.item9{
    grid-column: 5/7;
}
.footnoteblock{
    border-top: .1rem solid $black;
    padding: 0 16rem 0 16rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
